.card-view-item {
  border-radius: 6px;
  border: 2px solid $card-view-item-color;
  padding: 15px;
  margin: 0 0 10px;
}

.card-view-item_title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 1em;
}

.card-view-item_sub-title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: .9em;
}

.card-view-item_dates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0 0 10px;
}

.card-view-item_inputs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
