.card-input {
  padding: 1px;
  border-radius: 4px;
  border: 1px solid $card-input-main-color;
  background-color: $card-input-main-color;
}

.card-input-section {
  height: 22px;
  font-weight: 400;
  font-size: 0.7em;
}

.card-input_header {
  @extend .card-input-section;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-input_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-input_body input {
  @extend .card-input-section;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $card-input-main-color;
  outline-color: $card-input-focus-color;
  text-align: center;
  
}
